In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
import gzip
import json

def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield json.loads(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

In [ ]:
target='/content/drive/MyDrive/Arts_Crafts_and_Sewing (1).json.gz'
auxilary='/content/drive/MyDrive/AMAZON_FASHION.json.gz'

In [ ]:
df_t = getDF(target)
df_a = getDF(auxilary)

In [ ]:
df_t = df_t.drop_duplicates(subset=["reviewerID","unixReviewTime"])

In [ ]:
df_a = df_a.drop_duplicates(subset=["reviewerID","unixReviewTime"])

In [ ]:
df_t=df_t.reset_index(drop=True)
df_a=df_a.reset_index(drop=True)

In [ ]:
df_a[df_a.reviewerName=="Philip Marchelletta"]

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
85850,5.0,True,"12 9, 2013",A13UQ8TLFZECSE,B00B9FNUMU,Philip Marchelletta,Love it everything is great. I don't need all ...,Love it everything is great. I don't need all ...,1386547200,4,{'Size:': ' 8'},NaN

In [ ]:
df_t['rank_t'] = df_t.groupby('reviewerID')['reviewerID'].transform('count')

In [ ]:
df_a['rank_a'] = df_a.groupby('reviewerID')['reviewerID'].transform('count')

In [ ]:
df_t[df_t.reviewerID=="AVWQDMGBN7Y6B"]

,overall,vote,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,image,rank_t
1205325,4.0,NaN,True,"01 11, 2015",AVWQDMGBN7Y6B,B00E5UEA4S,{'Color:': ' Blue'},Robert M. Ryan,this was for my grand-daughter and she like th...,Four Stars,1420934400,NaN,1

In [ ]:
df_a[df_a.reviewerID=="AVWQDMGBN7Y6B"]

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image,rank_a
197257,5.0,True,"09 2, 2015",AVWQDMGBN7Y6B,B00L5HP8K4,Robert M. Ryan,this fedora is just what i expected. it wears ...,Five Stars,1441152000,NaN,NaN,NaN,1

In [ ]:
a = set(df_a['reviewerID'].tolist())
t = set(df_t['reviewerID'].tolist())
overlapping_users = a & t
df_sub_a = df_a[df_a['reviewerID'].isin(overlapping_users)][['reviewerID','asin','overall','unixReviewTime','rank_a']]
df_sub_t= df_t[df_t['reviewerID'].isin(overlapping_users)][['reviewerID','asin','overall','unixReviewTime','rank_t']]

In [ ]:
len(overlapping_users)

119600

In [ ]:
df_sub_a[df_sub_a.reviewerID=="AVWQDMGBN7Y6B"]

           reviewerID        asin  overall  unixReviewTime  rank_a
170660  AVWQDMGBN7Y6B  B00L5HP8K4      5.0      1441152000       1

In [ ]:
df_sub_t[df_sub_t.reviewerID=="AVWQDMGBN7Y6B"]

            reviewerID        asin  overall  unixReviewTime  rank_t
1205325  AVWQDMGBN7Y6B  B00E5UEA4S      4.0      1420934400       1

In [ ]:
df_sub_a=df_sub_a.reset_index(drop=True)

In [ ]:
df_sub_t=df_sub_t.reset_index(drop=True)

In [ ]:
s_t=df_sub_t[['reviewerID','rank_t','unixReviewTime']].drop_duplicates()

In [ ]:
s_a=df_sub_a[['reviewerID','rank_a','unixReviewTime']].drop_duplicates()

In [ ]:
df_sub_a

            reviewerID        asin  overall  unixReviewTime  rank_a
0       A2MWC41EW7XL15  7106116521      4.0      1408924800       1
1        AHWOW7D1ABO9C  B00007GDFV      3.0      1374019200       2
2        A38NS6NF6WPXS  B00007GDFV      4.0      1362787200       1
3        AGBL3TTP6GV4X  B00007GDFV      1.0      1343606400       1
4       A1L1U968VNYVA4  B00007GDFV      3.0      1509408000       1
...                ...         ...      ...             ...     ...
149461  A3AZU9000D8Q9G  B01HJGJ9LS      5.0      1491350400       1
149462  A22XA0XZ1DVLMU  B01HJGJ9LS      4.0      1485043200       1
149463  A1B8M7GACBBLXH  B01HJEOBCC      2.0      1471478400       1
149464  A17TV0Y989WVAU  B01HJEOC9E      3.0      1487894400       1
149465   AF94FIR42R3Z9  B01HJH7JY6      5.0      1487808000       1

[149466 rows x 5 columns]

In [ ]:
df_com=pd.merge(s_t,s_a,on='reviewerID')

In [ ]:
df_com.sort_values(by=['rank_t'],ascending=True)
df_com=df_com.reset_index(drop=True)

In [ ]:
df_com.sort_values(by=['rank_t'],ascending=True)

            reviewerID  rank_t  unixReviewTime_x  rank_a  unixReviewTime_y
308888  A31AOB9VOEUQUY       1        1532390400       1        1522713600
104357  A3D3RN0SWKRPJT       1        1360195200       1        1532131200
104347   AR28HL2O86ZN8       1        1288051200       1        1374883200
104346   AOWOZGRZG3OBS       1        1336521600       1        1454112000
104345  A13AYIJ4SF9TOD       1        1355616000       1        1458345600
...                ...     ...               ...     ...               ...
12500   A13OFOB1394G31     342        1430179200       1        1460937600
12501   A13OFOB1394G31     342        1479168000       1        1460937600
12502   A13OFOB1394G31     342        1364515200       1        1460937600
12494   A13OFOB1394G31     342        1498521600       1        1460937600
12269   A13OFOB1394G31     342        1163203200       1        1460937600

[308889 rows x 5 columns]

In [ ]:
df_t[df_t.reviewerID=='A13OFOB1394G31']

,overall,vote,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,image,rank_t
18479,4.0,NaN,True,"04 23, 2016",A13OFOB1394G31,B00006RVSH,{'Color:': ' Sunburst Yellow'},ealovitt,All of my art teachers recommend Prismacolor c...,"Good colored pencils, ridiculous shipping charges",1461369600,NaN,342
21718,5.0,14,True,"11 11, 2006",A13OFOB1394G31,B0001DSIVY,{'Size:': ' 7.8 x 2.9 inches'},ealovitt,My husband and I buy Dritz Deluxe Seam Rippers...,De-mat your cat!,1163203200,NaN,342
32582,3.0,8,False,"09 14, 2011",A13OFOB1394G31,B0002TMXAE,{'Size:': ' Ripple'},ealovitt,If you use these decorative scissors on 80 lb....,"Nice ripple effect, but don't use on heavy paper",1315958400,NaN,342
33288,4.0,20,True,"03 15, 2015",A13OFOB1394G31,B000641I1A,{'Color:': ' Tattered Rose'},ealovitt,I generally make and sell between 150 - 200 gr...,Tattered Rose is more beige than rose,1426377600,[https://images-na.ssl-images-amazon.com/image...,342
37902,5.0,NaN,True,"01 25, 2016",A13OFOB1394G31,B00073IH78,NaN,ealovitt,My first watercolor teacher recommended the Wi...,Ochre is a must-have for landscape painting.,1453680000,NaN,342
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2090962,4.0,NaN,True,"06 1, 2016",A13OFOB1394G31,B01EXZUTC6,NaN,ealovitt,A friend asked me to make a Japanese-themed Fr...,Pretty stamps for greeting cards with an Orien...,1464739200,[https://images-na.ssl-images-amazon.com/image...,342
2098068,4.0,NaN,False,"05 5, 2018",A13OFOB1394G31,B01FR7UVL8,NaN,ealovitt,I make and sell greeting cards to benefit our ...,A lovely die for Sympathy cards,1525478400,[https://images-na.ssl-images-amazon.com/image...,342
2100591,4.0,NaN,False,"08 13, 2017",A13OFOB1394G31,B01FXIHJHA,NaN,ealovitt,I make and sell greeting cards to benefit our ...,A nice size for A7 greeting cards,1502582400,[https://images-na.ssl-images-amazon.com/image...,342
2110213,3.0,NaN,True,"12 1, 2016",A13OFOB1394G31,B01H0INCOU,{'Size:': ' 2-Pack'},ealovitt,Poppy Red is a clearer red than Prismacolor's ...,"A good, clear red but the cap wouldn't come of...",1480550400,NaN,342
2112593,4.0,NaN,True,"05 31, 2017",A13OFOB1394G31,B01H7RW8YE,NaN,ealovitt,I make and sell greeting cards to benefit our ...,Nice die for small decorations on card interiors,1496188800,[https://images-na.ssl-images-amazon.com/image...,342

In [ ]:
training=df_com.loc[(df_com['rank_a']>=5) & (df_com['rank_t']>=3)]

In [ ]:
training

            reviewerID  rank_t  unixReviewTime_x  rank_a  unixReviewTime_y
413     A3UYWYY168L2Q9      37        1337817600       7        1455926400
414     A3UYWYY168L2Q9      37        1337817600       7        1395273600
415     A3UYWYY168L2Q9      37        1337817600       7        1448323200
416     A3UYWYY168L2Q9      37        1337817600       7        1458691200
417     A3UYWYY168L2Q9      37        1337817600       7        1455753600
...                ...     ...               ...     ...               ...
305130  A1TE2VK6YO1LM8       3        1468972800       6        1466035200
305131  A1TE2VK6YO1LM8       3        1468972800       6        1462406400
305132  A1TE2VK6YO1LM8       3        1468972800       6        1465776000
305133  A1TE2VK6YO1LM8       3        1468972800       6        1466121600
305134  A1TE2VK6YO1LM8       3        1468972800       6        1468195200

[29487 rows x 5 columns]

In [ ]:
u=training['reviewerID'].unique()

In [ ]:
df_sub_a=df_sub_a.set_index('reviewerID')

,overall,vote,verified,reviewTime,asin,style,reviewerName,reviewText,summary,unixReviewTime,image,rank_t
reviewerID,,,,,,,,,,,,
A3U4E9PIZ8OWH1,5.0,4,True,"11 6, 2013",0449819906,{'Format:': ' Kindle Edition'},Shirley Curtis,I've read this book already and I've got plans...,A WONDERFUL BOOK,1383696000,NaN,4
A3945D2TJ0PI86,5.0,NaN,True,"02 28, 2017",0449819906,{'Format:': ' Kindle Edition'},M. Smith,Nicely written directions.,Nice,1488240000,NaN,2
A2WZK72HLQ7SPT,5.0,NaN,True,"02 25, 2017",0449819906,{'Format:': ' Paperback'},Amazon Customer,love it,Five Stars,1487980800,NaN,5
A1Q7YJ1NPE6E0W,5.0,NaN,True,"01 25, 2017",0449819906,{'Format:': ' Kindle Edition'},MargaretT,Good additional knitting reference to have ava...,Good Reference in Kindle Edition,1485302400,NaN,3
A2846L8Q507JC4,5.0,NaN,True,"01 12, 2017",0449819906,{'Format:': ' Kindle Edition'},Dulce,"A gazillion pattern stitches, lucidly explaine...","Extremely clear, thorough",1484179200,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
A3DBSNSXS3HLW2,3.0,2,True,"12 5, 2016",B01HJHR2PM,NaN,Amazon Customer,The pens took weeks to arrive and ran out of i...,... took weeks to arrive and ran out of ink pr...,1480896000,NaN,4
A335NB837Q8LWN,5.0,NaN,True,"12 1, 2016",B01HJHR2PM,NaN,Kendra Swain,"Used these on our wedding canvas guest book, t...",Great product!!,1480550400,NaN,1
AKWXQAVB2U5ME,5.0,NaN,True,"10 25, 2016",B01HJHR2PM,NaN,Fastfinal6565,LOVE LOVE LOVE,Five Stars,1477353600,NaN,2
A2CWSI0186P0AY,1.0,3,True,"10 24, 2016",B01HJHR2PM,NaN,Oscar,color won't stop running once you activate the...,One Star,1477267200,NaN,7
A172Y8313QKCNZ,1.0,3,True,"09 21, 2016",B01HJHR2PM,NaN,spartacus,I received these earlier than expected. Have r...,One color,1474416000,NaN,1

In [ ]:
df_sub_t=df_sub_t.set_index('reviewerID')

In [ ]:
df_training=df_sub_a.loc[u]

In [ ]:
df_training_T=df_t.loc[u]

KeyError: ignored

In [ ]:
df_training_A.append

In [ ]:
df_t=df_t.set_index('reviewerID')

In [ ]:
df_training1=df_sub_t.loc[u]

In [ ]:
df_training=df_training.reset_index()

In [ ]:
df_training1=df_training1.reset_index()

In [ ]:
dk=df_training.append(df_training1)

In [ ]:
dk=dk.reset_index()

In [ ]:
dk.set_index('reviewerID')

                      asin  overall  unixReviewTime  rank_a  rank_t
reviewerID
A278N8QX9TY2OS  B009RUKQ2G      4.0      1419724800     4.0     NaN
A278N8QX9TY2OS  B00FXW81RY      5.0      1419724800     4.0     NaN
A278N8QX9TY2OS  B00WLQDERW      5.0      1460678400     4.0     NaN
A278N8QX9TY2OS  B012FU7FB4      3.0      1468540800     4.0     NaN
A2BQ7YGPNCQSO4  B00JG1KBBC      5.0      1414713600     2.0     NaN
...                    ...      ...             ...     ...     ...
A38QHWNXRW3DBV  B01EI6DADK      5.0      1462924800     NaN     3.0
A38QHWNXRW3DBV  B01EXWV7NY      5.0      1469836800     NaN     3.0
A2HKFMBM1WNE22  B01F52CABO      5.0      1516147200     NaN     3.0
A2HKFMBM1WNE22  B01F52CAH8      5.0      1516147200     NaN     3.0
A2HKFMBM1WNE22  B01F52CABY      5.0      1516147200     NaN     3.0

[94368 rows x 5 columns]

In [ ]:
dk.to_csv('v12.csv')

In [ ]:
dk

          reviewerID        asin  overall  unixReviewTime  rank_a  rank_t
0     A3UYWYY168L2Q9  B015R57AEG      5.0      1455926400     7.0     NaN
1     A3UYWYY168L2Q9  B009HUGFLC      4.0      1395273600     7.0     NaN
2     A3UYWYY168L2Q9  B00H9WU71E      5.0      1448323200     7.0     NaN
3     A3UYWYY168L2Q9  B00M6RCA4E      5.0      1458691200     7.0     NaN
4     A3UYWYY168L2Q9  B00NO7CVE4      1.0      1455753600     7.0     NaN
...              ...         ...      ...             ...     ...     ...
7400  A2O4BSNYDKTH6H  B013LEAXW6      4.0      1521590400     NaN     3.0
7401  A2O4BSNYDKTH6H  B015OBQ9R2      3.0      1509926400     NaN     3.0
7402  A1TE2VK6YO1LM8  B019ZHLW3W      4.0      1455926400     NaN     3.0
7403  A1TE2VK6YO1LM8  B01AUC8LSU      5.0      1460332800     NaN     3.0
7404  A1TE2VK6YO1LM8  B01H13D5Z0      5.0      1468972800     NaN     3.0

[7405 rows x 6 columns]

In [ ]:
dk[dk.reviewerID=='A13UQ8TLFZECSE']

       reviewerID        asin  overall  unixReviewTime  rank_a  rank_t
0  A13UQ8TLFZECSE  B00B9FNUMU      5.0      1386547200     4.0     NaN
1  A13UQ8TLFZECSE  B00BNB3A0W      5.0      1386547200     4.0     NaN
2  A13UQ8TLFZECSE  B00DM053ZC      5.0      1386547200     4.0     NaN
3  A13UQ8TLFZECSE  B00DM05CHQ      5.0      1386547200     4.0     NaN
0  A13UQ8TLFZECSE  0865625247      5.0      1386547200     NaN     1.0

In [ ]:
dk=dk[['reviewerID','overall','asin','unixReviewTime','rank_t','rank_a']]

In [ ]:
dk

           reviewerID  overall        asin  unixReviewTime  rank_t  rank_a
0      A13UQ8TLFZECSE      5.0  B00B9FNUMU      1386547200     NaN     4.0
1      A13UQ8TLFZECSE      5.0  B00BNB3A0W      1386547200     NaN     4.0
2      A13UQ8TLFZECSE      5.0  B00DM053ZC      1386547200     NaN     4.0
3      A13UQ8TLFZECSE      5.0  B00DM05CHQ      1386547200     NaN     4.0
4      A2N6FU4MJ8GDT2      1.0  B00E0KYN86      1407369600     NaN     2.0
...               ...      ...         ...             ...     ...     ...
18335  A23F80TFTJDHBM      4.0  B01HHDHLRW      1468886400     1.0     NaN
18336   ARR33MK4XB5RY      5.0  B01HHJTFU2      1512950400     1.0     NaN
18337  A20CS92NA24A8S      5.0  B01HI422Q0      1510185600     1.0     NaN
18338   AWJZAUAS0B6HJ      5.0  B01HIIV3Y8      1532563200     1.0     NaN
18339  A2I4CUUAM5YV39      2.0  B01HJ58SDY      1478390400     1.0     NaN

[60359 rows x 6 columns]

In [ ]:
dk = dk.drop_duplicates(subset=["reviewerID","unixReviewTime"])

In [ ]:
dk[dk.reviewerID=="AVWQDMGBN7Y6B"]

Empty DataFrame
Columns: [reviewerID, asin, overall, unixReviewTime, rank_a, rank_t]
Index: []

In [ ]:
dk

           reviewerID  overall        asin  unixReviewTime  rank_t  rank_a
0      A13UQ8TLFZECSE      5.0  B00B9FNUMU      1386547200     NaN     4.0
4      A2N6FU4MJ8GDT2      1.0  B00E0KYN86      1407369600     NaN     2.0
5      A2N6FU4MJ8GDT2      5.0  B01HFKK0Q6      1507852800     NaN     2.0
6       ABTG4BXMVSJ7A      1.0  B00UDF11O6      1447632000     NaN     3.0
7       ABTG4BXMVSJ7A      5.0  B00JJIHY30      1464566400     NaN     3.0
...               ...      ...         ...             ...     ...     ...
18335  A23F80TFTJDHBM      4.0  B01HHDHLRW      1468886400     1.0     NaN
18336   ARR33MK4XB5RY      5.0  B01HHJTFU2      1512950400     1.0     NaN
18337  A20CS92NA24A8S      5.0  B01HI422Q0      1510185600     1.0     NaN
18338   AWJZAUAS0B6HJ      5.0  B01HIIV3Y8      1532563200     1.0     NaN
18339  A2I4CUUAM5YV39      2.0  B01HJ58SDY      1478390400     1.0     NaN

[45826 rows x 6 columns]

In [ ]:
len(df_training.loc[u]['unixReviewTime'].unique())

2426

In [ ]:
dk.to_csv('sk1.csv')

In [ ]:
dk

           reviewerID  overall        asin  unixReviewTime  rank_t  rank_a
0      A13UQ8TLFZECSE      5.0  B00B9FNUMU      1386547200     NaN     4.0
4      A2N6FU4MJ8GDT2      1.0  B00E0KYN86      1407369600     NaN     2.0
5      A2N6FU4MJ8GDT2      5.0  B01HFKK0Q6      1507852800     NaN     2.0
6       ABTG4BXMVSJ7A      1.0  B00UDF11O6      1447632000     NaN     3.0
7       ABTG4BXMVSJ7A      5.0  B00JJIHY30      1464566400     NaN     3.0
...               ...      ...         ...             ...     ...     ...
18335  A23F80TFTJDHBM      4.0  B01HHDHLRW      1468886400     1.0     NaN
18336   ARR33MK4XB5RY      5.0  B01HHJTFU2      1512950400     1.0     NaN
18337  A20CS92NA24A8S      5.0  B01HI422Q0      1510185600     1.0     NaN
18338   AWJZAUAS0B6HJ      5.0  B01HIIV3Y8      1532563200     1.0     NaN
18339  A2I4CUUAM5YV39      2.0  B01HJ58SDY      1478390400     1.0     NaN

[45826 rows x 6 columns]

In [ ]:
Rating_avg['adg_rating']=Rating_avg['rank_t']-Rating_avg['rank_a_x']
Rating_avg.head()

       reviewerID  rank_t  rank_a_x  rank_a_y  adg_rating
0  A13UQ8TLFZECSE       1         4       4.0          -3
1  A2N6FU4MJ8GDT2       1         2       2.0          -1
2   ABTG4BXMVSJ7A       2         3       3.0          -1
3  A2A8ZGA0B46MJ4       1         2       2.0          -1
4  A1E95B1XTOBN44       3         4       4.0          -1

In [ ]:
rating_matrix = dk.pivot_table(index='reviewerID', columns='asin', values='overall')

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
import operator
def similar_users(user_id, matrix, k=40):
    # create a df of just the current user
    user = matrix[matrix.index == user_id]
    
    # and a df of all other users
    other_users = matrix[matrix.index != user_id]
    
    # calc cosine similarity between user and each other user
    similarities = cosine_similarity(user,other_users)[0].tolist()
    
    # create list of indices of these users
    indices = other_users.index.tolist()
    
    # create key/values pairs of user index and their similarity
    index_similarity = dict(zip(indices, similarities))
    
    # sort by similarity
    index_similarity_sorted = sorted(index_similarity.items(), key=operator.itemgetter(1))
    index_similarity_sorted.reverse()
    
    # grab k users off the top
    top_users_similarities = index_similarity_sorted[:k]
    users = [u[0] for u in top_users_similarities]
    
    return users
    
current_user = 'A13UQ8TLFZECSE'
# try it out
similar_user_indices = similar_users(current_user, rating_matrix)

In [ ]:
dk=dk.reset_index()

In [ ]:
len(dk['reviewerID'].unique())

1902

In [ ]:
rating_matrix = rating_matrix.fillna(0)

In [ ]:
print(similar_user_indices)

['A2AA7OLEY0O8L1', 'AZZMQ85DPFEG3', 'AZZANAELY4O62', 'AZWCGGWJ4H77B', 'AZREP33MEKXUZ', 'AZMMPSFKY30X2', 'AZM3Q57OM61JG', 'AZLOX8M01E1XD', 'AZISAPS0NGN7K', 'AZGDWJ7YDETUV', 'AZ82BEHZ80S09', 'AZ4EUUJVC8358', 'AYUO89FSZ7THX', 'AYLZ3T6V5RU44', 'AYIU07T59L22V', 'AYES0TCR12MFZ', 'AYCZAFTJ6GBTH', 'AY9ZBOTKBA30N', 'AY7QT3K5NSR1Y', 'AY4F95T0JSTZ2', 'AY08SISCCY7X7', 'AXZFL5P7P3IM8', 'AXYECPZ6C86VO', 'AXW33OVJPZVHD', 'AXW1J5TFSUFCQ', 'AXVBAX7V6UBN', 'AXKKZ0FYNKTSU', 'AXEWJ6XNENEN4', 'AXDWIKWBKL7GD', 'AXDJAXVJQKO7O', 'AXAHK6NNQ1E3A', 'AXAE7RKF54U7V', 'AX8EUY8WM13EV', 'AX5F6GDA6WAZ1', 'AX4108PQ0CZNO', 'AX23VRQ2W1OET', 'AX1MQTBCHQGS', 'AWXWY3KTKIDWG', 'AWVYGU3VEHL0W', 'AWR77BU4FTUYZ']

In [ ]:
def recommend_item(user_index, similar_user_indices, matrix, items=10):
    
    # load vectors for similar users
    similar_users = matrix[matrix.index.isin(similar_user_indices)]
    # calc avg ratings across the 3 similar users
    similar_users = similar_users.mean(axis=0)
    # convert to dataframe so its easy to sort and filter
    similar_users_df = pd.DataFrame(similar_users, columns=['mean'])
    
    
    # load vector for the current user
    user_df = matrix[matrix.index == user_index]
    # transpose it so its easier to filter
    user_df_transposed = user_df.transpose()
    # rename the column as 'rating'
    user_df_transposed.columns = ['rating']
    # remove any rows without a 0 value. Anime not watched yet
    user_df_transposed = user_df_transposed[user_df_transposed['rating']==0]
    # generate a list of animes the user has not seen
    animes_unseen = user_df_transposed.index.tolist()
    
    # filter avg ratings of similar users for only anime the current user has not seen
    similar_users_df_filtered = similar_users_df[similar_users_df.index.isin(animes_unseen)]
    # order the dataframe
    similar_users_df_ordered = similar_users_df.sort_values(by=['mean'], ascending=False)
    # grab the top n anime   
    top_n_anime = similar_users_df_ordered.head(items)
    top_n_anime_indices = top_n_anime.index.tolist()
    return top_n_anime_indices

In [ ]:
k=recommend_item('ABTG4BXMVSJ7A', similar_user_indices, rating_matrix)

In [ ]:
dk=dk.set_index('asin')

['B000YFSR5G',
 'B001F8LJ92',
 'B00GN8OY00',
 'B008GJPSYA',
 'B00RLSCLJM',
 'B00T6NJGAW',
 'B00D77WDB2',
 'B000EE1NNA',
 'B01EWA1278',
 'B016BTJ3GA']

In [ ]:
dk.loc[k]['rank_t'].unique()

NameError: ignored